.DS_Store
*/target/
.idea/
**/*.iml
target
*.ipr
*.iws
*.log
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.exe
*.dmg
*.iso
*.img
*.bin
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.ai
*.eps
*.ps
*.svg
*.ttf
*.otf
*.woff
